body {
  color: #123456;
  background-color: #EDF7F5;
}

nav a img {
  height: 50px;
  padding-bottom:10px;
  padding-right:3px;
}

nav h1 {
  color:#B3B3B3;
  background-color: #EDF7F5;
}

nav {
  color:#B3B3B3;
  background-color: #EDF7F5;
}

#footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: #343A40;
  text-align: center;
  color:#B3B3B3;
  padding-top: 10px;
}
