body {
  color: #123450;
  background-color: #FFFFFF;
}

#content {
  padding: 3%;
}

#article_list {
  display:grid;
  grid-template-columns: 10% | 40% | 40% | 10%;
  grid-template-rows: repeat(4,25%);
  justify-items: center;
  justify-content: center;
  grid-gap: 30px;

  list-style-type: none;
}

.box {
  text-align: center;
}

.main #content h1 {
    text-align: center;
    color:#111111;
    font-size: 90px;
    font-family: impact, 'Anton',sans-serif, fantasy;
}



.main #content #article_list h3 {
    color:#111111;
    font-size: 30px;
    font-family: impact, 'Anton',sans-serif, fantasy;
}

.main #content #article_list h4 {
  color:#111111;
}

.main #article_list img {
  object-fit: cover;
  width: 100%;
  max-width: 500px;
  max-height: 300px;
}

.a { /*img 1*/
  grid-column: 2/3;
  grid-row: 1/3;

}

.b { /*title 1*/
  grid-column: 3/4;
  grid-row: 1/3;
}

.c { /*title 2*/
  grid-column: 2/3;
  grid-row: 3/6;
}

.d { /*img 2*/
  grid-column: 3/4;
  grid-row: 3/6;
}

.podcast #content h1 {
    text-align: center;
    color:#111111;
    font-size: 90px;
    font-family: impact, 'Anton',sans-serif, fantasy;
}

.article #content h1 {
    text-align: center;
    color:#111111;
    font-size: 90px;
    font-family: impact, 'Anton',sans-serif, fantasy;
}

.navbar-light {
  background-color: #FFFFFF;
}

/*.navbar-toggler {
  border-color: #123456;

}

.navbar-toggler:active {
  border-color: #8F1D2C;
  background-color: #8F1D2C;
}

.navbar-toggler:hover {
  border-color: #8F1D2C;
  background-color: #8F1D2C;
}*/

.navbarstyle .active .nav-link {
  color:#8F1D2C;
}
.navbarstyle .nav-link {
  color: #123456;
}

nav a img {
  height: 50px;
  padding-bottom:10px;
  padding-right:15px;
}

nav h1 {
  color:#1B1A28;
}

nav button {
  button-default-color:#123456;
}

#navbarNav {
  right:0px;
}

#footer {
  width: 100%;
  bottom: 0px;
  position: fixed;
  background-color: #FFFFFF;
  text-align: center;
  color:#B3B3B3;
  padding-top: 10px;
}
