body {
  color: #123450;
  background-color: #FFFFFF;
}

#content {
  padding: 3%;
}

.navbarstyle {
  background-color: #FFFFFF;
}

.navbarstyle .active .nav-link {
  color:#8F1D2C;
}
.navbarstyle .nav-link {
  color: #123456;
}

nav a img {
  height: 50px;
  padding-bottom:10px;
  padding-right:15px;
}

.navbar-toggler .navbar-toggler {
  button-default-color:#123456;
}

nav h1 {
  color:#1B1A28;
}

nav button {
  button-default-color:#123456;
}

#navbarNav {
  right:0px;
}

#footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: #FFFFFF;
  text-align: center;
  color:#B3B3B3;
  padding-top: 10px;
}
