body {
  color: #123450;
  background-color: #FFFFFF;
}

#content {
  padding: 3%;
}

.main #content h1 {
    text-align: center;
    color:#111111;
    font-size: 90px;
    font-family: fantasy;
}

.navbar-light {
  background-color: #FFFFFF;
}

/*.navbar-toggler {
  border-color: #123456;

}

.navbar-toggler:active {
  border-color: #8F1D2C;
  background-color: #8F1D2C;
}

.navbar-toggler:hover {
  border-color: #8F1D2C;
  background-color: #8F1D2C;
}*/

.navbarstyle .active .nav-link {
  color:#8F1D2C;
}
.navbarstyle .nav-link {
  color: #123456;
}

nav a img {
  height: 50px;
  padding-bottom:10px;
  padding-right:15px;
}

nav h1 {
  color:#1B1A28;
}

nav button {
  button-default-color:#123456;
}

#navbarNav {
  right:0px;
}

#footer {
  width: 100%;
  bottom: 0px;
  position: fixed;
  background-color: #FFFFFF;
  text-align: center;
  color:#B3B3B3;
  padding-top: 10px;
}
